<!-- {% if site.github_user %} -->
<!-- <h2>recent public projects</h2> -->
<!-- <dl id="gh_repos" class="dl&#45;horizontal" data&#45;github&#45;user="{{ site.github_user }}" data&#45;github&#45;repo&#45;count="{{ site.github_repo_count }}" data&#45;github&#45;skip&#45;forks="{{ site.github_skip_forks }}" data&#45;github&#45;skip&#45;github&#45;io="{{ site.github_skip_github_io }}"> -->
<!--   <dd class="loading">Status updating...</dd> -->
<!-- </dl> -->
<!-- <script src="{{ root_url }}/javascripts/github.js" type="text/javascript"> </script> -->
<!-- <script src="{{ root_url }}/javascripts/libs/jXHR.js" type="text/javascript"> </script> -->
<!-- {% endif %} -->
