<p class="pull-left">
  <a href="{{ root_url }}/">{{ site.title }}</a>
  - Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}

  <br />
  <a href="https://gist.githubusercontent.com/krisleech/8c56096946dc02a192a1/raw/0df80a404f1f5ca3a7b29986eec01b72103312b2/gistfile1.txt">My public SSH key</a>
  <a href="https://pgp.mit.edu/pks/lookup?op=get&search=0x3ABC74851F7CCC88">My public PGP key</a>
</p>
<p class="pull-right">
  <span>Powered by <a href="http://octopress.org/">Octopress</a>.</span>
  {% unless site.hide_design_credits %}
    <span>Designed by <a href="http://www.AdrianArtiles.com">Adrian Artiles</a>.</span>
  {% endunless %}
</p>
